[submodule "gateway/paho.mqtt-sn.embedded-c"]
	path = gateway/paho.mqtt-sn.embedded-c
	url = https://github.com/eclipse/paho.mqtt-sn.embedded-c
[submodule "DeviceCode/RIOT"]
	path = DeviceCode/RIOT
	url = https://github.com/RIOT-OS/RIOT.git
